body {
  background-image: url(../images/train.png);
  background-size: auto;
  background-attachment: fixed;
}

.footer {
    text-align: center;
    background-color: #1f97dd;
    width: 100%;
    padding: 2px;
    color: ghostwhite;
    border-radius: 5px;
}

.credit {
  font-size: .75em;
  float: right;
  margin-right: 4px;
}

.rmv {
    border-radius: 15px;
    border: 1px solid ghostwhite;
    background-color: #1f97dd;
    color: ghostwhite;
}

.rmv:hover {
  background-color: yellowgreen;
}

.update {
  border-radius: 15px;
    border: 1px solid ghostwhite;
    background-color: green;
    color: ghostwhite;
}

.update:hover {
  background-color: aquamarine;
}
