.footer {
    text-align: center;
    background-color: #1f97dd;
    width: 25%;
    padding: 2px;
    color: ghostwhite;
    border-radius: 5px;
    margin-left: 35%;
}

.rmv {
    border-radius: 15px;
    border: 1px solid ghostwhite;
    background-color: #1f97dd;
    color: ghostwhite;
}